*{
    padding: auto;
    margin: auto;
}
body{
    background-image: url("../ImagesAdmin/sunset-404072.png");
    background-size: auto;
    
}
.section-container-login
{
    padding-top: 100px;  
    display: flex;
}
.container-login
{
    text-align: center;
    background-color: #9D8EC4;
    display: flex;
    border-radius: 30px;
    width: 750px;
    height: 500px; 
    opacity: 0.85;
    position: relative;
    z-index: 1;   
}
.container-login-left
{
    background-color: #F5F6FA;
    border-radius: 30px;
    width: 55%;
    height: 100%;
}
.container-login-input input{
    border-radius: 20px;
    height: 100%;
    width: 100%;
    padding-left: 20px;
    border-style: hidden;
    position: relative;    
}
.container-login-input input:focus{
    text-indent: 20px;
}
.container-login-input{
    border-style: hidden;
    padding-top: 20px;
    height: 50px;
    width: 250px;
    position: relative;
}
.container-login-text
{
    font-family: 'Roboto', sans-serif;
    color:#9D8EC4 ;
    text-align: center;
    padding-top: 100px;
}
.container-login-text h3{
    font-size: 40px;
}
.container-login-right{
    width: 50%;
    height: 85%;
}
.container-login-text-right{
    padding: 0;
    margin: 0;
}
.container-login a{
    text-decoration: none;
    color: #B2B2B2;
    padding: 10px;
    text-align: left;
}
.container-login a p{
    padding-left: 75px;
}
.container-login-button button
{
    width: 100%;
    height:100%;
    border-radius: 20px;
    background-color:  #9D8EC4;
    border-style: hidden;
    color: #F5F6FA;
}
.container-login-button button:hover
{
    width: 100%;
    height:100%;
    border-radius: 20px;
    background-color:  #B2B2B2;;
    border-style: hidden;
    color: #F5F6FA;
}
.container-login-button{
    border-radius: 20px;
    width: 275px;
    height: 50px;
    padding-left: 20px;
}
/* =======================LOGIN==================== */

.container-forgot{
    background-color: #F5F6FA;
    text-align: center;
    border-radius: 20px;
    width: 750px;
    height: 500px;
    z-index: 2;
    /* visibility: hidden; */
}
.container-forgot-text h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:  #9D8EC4;
}
.container-forgot-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #B2B2B2;
}
.container-forgot-text{
    padding-top: 60px;
    padding-bottom: 40px;
}
.container-forgot-input{
    width: 70%;
    height: 50px;
    padding-bottom: 40px;
}
.container-forgot-input input{
    width: 100%;
    height: 100%;
    padding-left: 20px;
    border-radius: 20px;
    border-style: hidden;
}
.container-forgot-button{
    padding-top: 20px;
    border-radius: 20px;
    width: 73%;
    height: 50px;
    padding-left: 20px;
}
.container-forgot-button button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:  #9D8EC4;
    border-style: hidden;
    color: #F5F6FA;
    padding: 10px;
    margin-top: 20px;
}
.container-forgot-button button:hover{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:  #F5F6FA;
    border-style: hidden;
    color: #9D8EC4;
    padding: 10px;
    margin-top: 20px;
    transition: 0.2s;
}
/* =====================FORGOT EMAIL======================== */
.container-check-email{
    background-color: #F5F6FA;
    text-align: center;
    border-radius: 20px;
    width: 750px;
    height: 500px;
    /* visibility: hidden; */
}
.container-check-email-text h3{
    font-family: 'Roboto', sans-serif;
    font-size: 40px;
    color:  #9D8EC4;
    padding-top: 60px;
    padding-bottom: 40px;
}
.container-check-email-text p{
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    color: #B2B2B2;
    padding-bottom: 40px;
}
.container-check-email-button{
    padding-top: 60px;
    border-radius: 20px;
    width: 73%;
    height: 50px;
    padding-left: 20px;
}
.container-check-email-button button{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:  #9D8EC4;
    border-style: hidden;
    color: #F5F6FA;
    padding: 10px;
    margin-top: 20px;
}
.container-check-email-button button:hover{
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color:  #F5F6FA;
    border-style: hidden;
    color: #9D8EC4;
    padding: 10px;
    margin-top: 20px;
    transition: 0.2s;
}
/* ========================CHECK EMAIL====================== */